html{
    background: linear-gradient(#003333, #ccffcc);
    height: 100%;
}
.navbar{
    background-color: transparent;
}
body{
    background-color: transparent;
}
.form-style{
    background-image: linear-gradient(to right, #ccffcc, #ffffff);
    height: 500px;
    width: 600px;
    padding: 10px;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;

}
input{
    text-align: center;
    align-content: center;
}
.col.form{
    height: 450px;
}
.form{
   padding-top: 30px;
}
.form2{
    padding-top: 30px;
}
.form-group{
    padding: 20px;
    align-items: center;
    text-align: center;

}
.sign-up{
   display: flex;
    justify-content: center;
}
.choose{
    display: flex;
    justify-content: center;
}

