<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jordan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/css/home-logged-in.css">

</head>
<body id="body">
<!--NAV AREA AND CURSOR-->
<div id="circularCursor"></div>
<div class="moon" id="moon"></div>
<div class="header-block-color"></div>
<!--MAIN AREA-->
<div class="container" id="align">
    <div class="nav hstack gap-1">
        <p class="jordan" id="jordan"><a href="/">JORDAN WITT</a></p>
        <div class="container text-center">
            <div class="row m-3" id="nav">
                <hr>
                <div style="padding: 5px" class="col-8 col-sm-4"><a href="" id="project-one" style="width: 150px; margin: 0; align-content: center">MOVIE PROJECT</a></div>
                <div style="padding: 5px" class="col-8 col-sm-4"><a href="" id="project-two" style="width: 150px; margin: 0; align-content: center">COFFEE PROJECT</a></div>
                <div style="padding: 5px" class="col-8 col-sm-4"><a href="" id="project-three"style="width: 150px; margin: 0; align-content: center">AD-LISTER</a></div>
                <!-- style="padding: 5px" Force next columns to break to new line -->
                <div style="padding: 5px" class="w-100"></div>
                <div style="padding: 5px" class="col-8 col-sm-4"><a href="" id="project-four" style="width: 150px; margin: 0; align-content: center">DATABASE DESIGN</a></div>
                <div style="padding: 5px" class="col-8 col-sm-4"><a href="" id="project-five" style="width: 150px; margin: 0; align-content: center">CONTACT MANAGER</a></div>
                <div style="padding: 5px" class="col-8 col-sm-4"><a  id="project-six" style="width: 150px; margin: 0; align-content: center">TBT</a></div>
                <hr>
            </div>
        </div>
    </div>
    <div class="clearfix mt-5 p-5" id="border">
        <p class="p-4" id="paragraph-one">
            Hello There,
        </p>
        <div class="hstack mt-5">
            <img id="project-display" src="images/jordan.jpeg" class="col-2 col-sm-4 float-md mb-3 ms-md-3"
                 alt="...">
            <p class="p-5" id="paragraph-two">
                First off my name is Jordan and here is a lil' bit about myself:  <br> <br>
                I'll try my best to keep this short. I struggled for many years trying to find a career path that I felt best suit me. I like a bit of art, a bit of logic..and..BOOM...coding. That made it sound simple...it wasn't. I was recommended a bootcamp by a friend, and before you know it I was coding away with Codeup(the bootcamp). I never thought I could love and hate doing something simultaneously but here we are! With coding, I am able to satisfy my artistic needs with front-end development as well as my logical needs i.e: problem-solving and debugging; the best of both worlds. I could write more but for the sake of keeping it short I'll just end it here. Enjoy!
            </p>
        </div>
        <p class="p-4" id="paragraph-three">
            Fun Facts: <br>
            1. My favorite color is yellow <br>
            2. I am obsessed with Panda Bears <br>
            3. I can't stand onions(I tried, I promise!)
        </p>
    </div>
    <div class="hstack">
        <p>THNX 4 <br> STOPPING BY:</p>
        <div class="container text-center">
            <div class="row m-3 mt-5">
                <hr>
                <div class="col-8 col-sm-4"><a href="home.html" id="contact"><p>CONTACT</p></a></div>
                <div class="col-8 col-sm-4"><a href="home.html" id="socials"><p>SOCIALS</p></a></div>
                <div class="col-8 col-sm-4"><a href="home.html" id="more-projects"><p>MORE</p></a></div>
                <hr>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>