<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Logged in users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home-logged-in.css">

</head>
<body>
<div class="container">
<!--🟩    <nav th:insert="~{/partials/logged-in-navbar :: logged-in-navbar}"></nav>-->


    <div sec:authorize="isAuthenticated()">
        this show the user that is currently logged in
        <!--    <span sec:authentication="name"></span>-->
        <h1 class="text-center"> WELCOME, <span sec:authentication="name"></span></h1>
    </div>
    <hr>
    <div th:each="user : ${users}">
        <div th:if="${user.getRole().getId() == 3}">
            <h2 th:text="${user.getUsername()}">role name: </h2>
        </div>
        <form th:method="get" th:action="@{/buyer-redirect}">
        <button type="submit" value="neighbors">VIEW LISTINGS</button>
        </form>
    </div>
    <hr>

    <footer class="navbar justify-content-end">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>