<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home-logged-in.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-success" data-bs-theme="dark">
    <div class="container-fluid">
        <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-brand" href="/">
                    <img src="/img/next2neighbor_circle_black.svg" alt="logo" width="30" height="24">
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <form th:action="@{/listings/interests}" th:method="post" th:object="${interests}">
<!--        <div class="form-group">-->
<!--            <label for="interests">PHYSICAL/OUTDOORS</label>-->
<!--            <select class="form-control" name="name" id="interests">-->
<!--                <option th:field="*{name}" th:value="running">RUNNING</option>-->
<!--                <option th:field="*{name}" th:value="hiking">HIKING</option>-->
<!--                <option th:field="*{name}" th:value="biking">BIKING</option>-->
<!--                <option th:field="*{name}" th:value="climbing">CLIMBING</option>-->
<!--                <option th:field="*{name}" th:value="swimming">SWIMMING</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="form-group">
            <label>Choose Interests</label>


            <div>
                <input type="checkbox" id="running" name="interests" value="running,physical/outdoors">
                <label for="running">Running</label>
            </div>

            <div>
                <input type="checkbox" id="hiking" name="interests" value="hiking,physical/outdoors">
                <label for="hiking">Hiking</label>
            </div>

            <div>
                <input type="checkbox" id="biking" name="interests" value="biking,physical/outdoors">
                <label for="biking">Biking</label>
            </div>

        </div>

<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect2">MENTAL/WELLNESS</label>-->
<!--            <select class="form-control" id="exampleFormControlSelect2">-->
<!--                <option th:field="*{name}">SELECT</option>-->
<!--                <option th:field="*{name}">YOGA</option>-->
<!--                <option th:field="*{name}">WELLNESS GROUP</option>-->
<!--                <option th:field="*{name}">GUIDED JOURNALING</option>-->
<!--                <option th:field="*{name}">MEDITATION/SPA</option>-->
<!--                <option th:field="*{name}">LEARNING NEW SKILLS</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect3">SOCIAL</label>-->
<!--            <select class="form-control" id="exampleFormControlSelect3">-->
<!--                <option th:field="*{name}">SELECT</option>-->
<!--                <option th:field="*{name}">NIGHT OUT</option>-->
<!--                <option th:field="*{name}">LIVE ENTERTAINMENT</option>-->
<!--                <option th:field="*{name}">HOSTING PARTIES/EVENTS</option>-->
<!--                <option th:field="*{name}">RELIGIOUS GATHERINGS</option>-->
<!--                <option th:field="*{name}">JOINING SOCIAL GROUPS</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect4">LEISURE</label>-->
<!--            <select class="form-control" id="exampleFormControlSelect4">-->
<!--                <option th:field="*{name}">SELECT</option>-->
<!--                <option th:field="*{name}">GAMING</option>-->
<!--                <option th:field="*{name}">CONCERTS</option>-->
<!--                <option th:field="*{name}">PAINTING</option>-->
<!--                <option th:field="*{name}">BOOK CLUBS</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect5">OCCUPATIONAL</label>-->
<!--            <select class="form-control" id="exampleFormControlSelect5">-->
<!--                <option th:field="*{name}">SELECT</option>-->
<!--                <option th:field="*{name}">WORKAHOLIC</option>-->
<!--                <option th:field="*{name}">STAY AT HOME</option>-->
<!--                <option th:field="*{name}">ALWAYS TRAVELING</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect6">EXTRA</label>-->
<!--            <select class="form-control" id="exampleFormControlSelect6">-->
<!--                <option th:field="*{name}">SELECT</option>-->
<!--                <option th:field="*{name}">FAMILY ORIENTED</option>-->
<!--                <option th:field="*{name}">PET LOVER</option>-->
<!--                <option th:field="*{name}">INTROVERT</option>-->
<!--                <option th:field="*{name}">EXTROVERT</option>-->
<!--                <option th:field="*{name}">SINGLE FAMILY</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </form>-->

<!--    <form th:action="@{/listings/interests}" th:object="${Categories}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="categories">Physical/Outdoors</label>-->
<!--            <input type="radio" id="categories" name="categories" checked value="physical/outdoors" th:field="*{name}">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>