<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Seller Create</title>
</head>
<body>

<h1 class="p-2">CREATE LISTING</h1>
<!--<form  th:action="@{/listings/seller-create}" th:method="post" th:object="${listings}🟥 ">-->
<!--  <label>Title:</label>-->
<!--  <br>-->
<!--  <input placeholder="title" class="m-2" type="text" th:field="*{title}"  /><br>-->
<!--  <input placeholder="address" class="m-2" th:field="*{address}"><br>-->
<!--  <input placeholder="price" class="m-2" th:field="*{price}"><br>-->
<!--  <input placeholder="description" class="m-2" th:field="*{description}"><br>-->
<!--  <input type="submit" value="Submit"/>-->
<!--</form>-->

<!--//🟥 2023-02-17T06:17:38.089Z ERROR 11 -&#45;&#45; [nio-5000-exec-7] org.thymeleaf.TemplateEngine             : [THYMELEAF][http-nio-5000-exec-7] Exception processing template "/listings/seller-create": Error resolving template [/listings/seller-create], template might not exist or might not be accessible by any of the configured Template Resolvers-->
<!--2023-02-17T06:17:38.096796860Z app[web.1]://🟥 -->
<script src="/static/js/seller.js"></script>

</body>
</html>