<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/css/home-logged-in.css">

</head>
<body>
<nav class="navbar justify-content-end me-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <input class="nav-item" type="search" placeholder="search">
        </li>
    </ul>
</nav>
<!--<h1>This is the Seller Profile</h1>-->
<h1 class="text-center"> WELCOME, USERNAME</h1>
<div class="listing-display">
    <div class="card m-auto d-flex" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">HOMES to SELL</h5>
            <p class="card-text">ADDRESS</p>
            <p class="card-text">DESCRIPTION</p>
            <p class="card-text">PRICE</p>
            <a href="#" class="btn btn-primary">EDIT</a>
            <a href="#" class="btn btn-primary">DELETE</a>
        </div>
    </div>
    <div class="container">
    <form class="d-flex flex-wrap m-auto row align-items-center">
        <label class="col">
            <h2>title</h2>
            <input type="text" placeholder="title">
        </label>
        <br>
        <label class="col">
            <h2>description</h2>
            <input type="text" placeholder="description">
        </label>
        <label class="col">
            <h2>price</h2>
            <input type="number" placeholder="price">
        </label>
        <br>
        <label class="col">
            <h2>address</h2>
            <input type="text" placeholder="address">
        </label>
        <br>
        <button class="btn btn-success mt-4 ms-2 text-center text-wrap fs-6" style="width: 6rem; height: 30px">CREATE LISTING</button>
    </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>