<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="logged-in-navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success" data-bs-theme="dark">
        <div class="container-fluid">
<!--            replace with logo ⬇️ -->
            <a class="navbar-brand" href="/home-logged-in">
                <img src="img/next2neighbor_circle_black.svg" alt="logo" width="30" height="24">
            </a>
            <!--			<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/listings">Listings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </a>
                    <ul class="dropdown-menu">
<!--                        goes back to user profile regardless what page-->
                        <li><a class="dropdown-item" href="/profile" >Profile</a></li>
                        <li class="dropdown-item">
                            <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                        <li><a class="dropdown-item" href="/about-us">About</a></li>
                    </ul>
                </li>
            </ul>
            <form th:action="@{/}">
                Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                &nbsp;
                <input type="submit" value="Search" />
                &nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
            </form>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn nav nav-pills flex-column flex-sm-row justify-content-center">Logout</button>
            </form>
        </div>
    </nav>

<!--    <script src="/js/home-logged-in.js" defer type="text/javascript">-->
<!--    🟩        function clearSearch() {-->
<!--            window.location = "[[@{/}]]";-->
<!--        }-->
<!--        alert("only showing buyer page")-->

<!--    </script>-->

</nav>