<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="logged-in-navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success" data-bs-theme="dark" style="background-color: #CCFFCC !important;">
        <div class="container-fluid">
<!--            replace with logo ⬇️ -->
            <a class="navbar-brand" href="/home-logged-in">
                <img src="/static/img/next2neighbor_circle_black.svg" alt="logo" width="30" height="24">
            </a>
            <!--			<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <ul class="nav justify-content-start me-auto">
                <li class="nav-item">
                    <form th:action="@{/home-logged-in}" method="post">
                        <button type="button" class="btn btn-outline-success">Listings</button>
                    </form>
                </li>
                <li class="dropdown">
                    <button class="btn btn-outline-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </button>
                    <ul class="dropdown-menu">
<!--                        goes back to user profile regardless what page-->
<!--                        <li><a class="dropdown-item" th:href="@{/profile/{userId}(userId = ${user.id})}">Profile</a></li>-->
                        <li><a class="dropdown-item" th:href="@{/listings}">Profile</a></li>


                        <li class="dropdown-item">
                            <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                        <li><a class="dropdown-item" href="/about-us">About</a></li>
                    </ul>
                </li>
            </ul>

            <form th:action="@{/logout}" th:method="post">
                <button class="btn btn-outline-dark" >Logout</button>
            </form>
        </div>
    </nav>



</nav>