<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar">
	<div>
		<a href="/home">home</a>
		<a href="/hello">hello</a>
		<a href="/about">about</a>
		<a href="/contact">contact</a>
	</div>



	<div sec:authorize="isAuthenticated()">
		This content is only shown to authenticated users.
		User ID: <span th:text="${#authentication.principal.id}"/>
		Username: <span th:text="${#authentication.principal.username}"/>
		Email: <span th:text="${#authentication.principal.email}"/>
	</div>

	<div sec:authorize="!isAuthenticated()">
		This content is only shown to authenticated users who are not authenticated.
		<form th:action="@{/login}">
			<button class="btn">login</button>
		</form>
	</div>

	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" th:method="POST">
			<button class="btn">Logout</button>
		</form>
	</div>

</nav>