<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>

<h1>Log In</h1>
<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<div class="container text-center" th:each="post : ${listings}">
  <p th:text="${post.getTitle()}" />
  <p th:text="${post.getDescription()}" />
</div>

<div th:if="${message}" th:text="${message}" th:class="${alertClass}" th:value="${alertClass}"></div>
<form th:action="@{/login}" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />

  <label for="password">Password</label>
  <input id="password" name="password" type="password" />

  <input type="submit" value="Log In" />
</form>

<form th:action="@{/sign-up}">
  <button class=" btn">sign-up</button>
</form>

<form th:action="@{/forgotPassword}">
  <button class=" btn">forgot password</button>
</form>


<!--&lt;!&ndash; find user in database, confirm that the user exists, if exists redirect to update password html,->-->


</body>
</html>