<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
</head>
<body>

<h1>Create an account</h1>

<label for="login">already a user?</label>
<form  id="login" th:action="@{/login}">
	<input value="login" type="submit" />
</form>

<form th:action="@{/sign-up}" method="POST" th:object="${user}">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}" />

  <label for="email">Email</label>
  <input id="email" th:field="*{email}" />

  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}" />

<!--    <form th:action="@{/sign-up}" method="POST" th:object="${role}">-->
	<label for="user_role">Choose a role:</label>
	<select name="user_role" th:field="*{roles}" id="user_role">
		<option th:text="Neighbor" th:value="4L"></option>
		<option th:text="Buyer" th:value="2L"></option>
		<option th:text="Seller" th:value="3L"></option>
	</select>
	<button type="submit">Sign up</button>
</form>

</body>
</html>