<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
</head>
<body>

<h1>Create an account</h1>

<label for="login">already a user?</label>
<form  id="login" th:action="@{/login}">
	<input value="login" type="submit" />
</form>

<form th:action="@{/sign-up}" method="POST" th:object="${user}">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}" />

  <label for="email">Email</label>
  <input id="email" th:field="*{email}" />

  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}" />


    <label for="password">Confirm Password</label>
    <input id="password-confirm" type="password" th:field="*{password}" />

    <h1>WELCOME</h1>
    <p>COMPLETE THE SIGN UP PROCESS, ARE YOU A</p>
    <input value="Buyer" type="submit" />
    <input value="Seller" type="submit" />
    <input value="Neighbor" type="submit" />
    <br>

	<label for="role">Choose a role:</label>
	<select name="role" id="role">
		<option value="option">option</option>
		<option value="neighbor">neighbor</option>
		<option value="buyer">buyer</option>
		<option value="seller">seller</option>
    
	</select>
	<button type="submit">Sign up</button>
</form>

</body>
</html>