<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to our Site. Choose houses by Neighbors!</h1>

<div>
    <div class="nav-item col-3">
        <a class="active navLinks" aria-current="page" href="/listings">Houses for sale</a>
    </div>
    <div class="nav-item col-3">
        <a class="navLinks" href="/login">Login</a>
    </div>
    <div class="nav-item col-3">
        <a class="navLinks" href="/sign-up" tabindex="-1" >Sign Up!</a>
    </div>
    <div class="nav-item col-3">
        <a class="navLinks" href="/contact">Contact Us</a>
    </div>
</div>

</body>
</html>